# Language: Cpp
# BasedOnStyle: Google
# IndentWidth: 4
# TabWidth: 4
# SpacesInAngles: false
# SpacesInParentheses: true
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
# AlignOperands: true
# ColumnLimit: 0
# {
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
SpacesInAngles: false
SpacesInParentheses: true
ColumnLimit: 0
MaxEmptyLinesToKeep: 0
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 5
# }
