# Language: Cpp
# BasedOnStyle: Google
# IndentWidth: 4
# TabWidth: 4
# SpacesInAngles: false
# SpacesInParentheses: true
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
# AlignOperands: true
# ColumnLimit: 0
# {
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
SpacesInAngles: false
SpacesInParentheses: true
ColumnLimit: 0
NamespaceIndentation: All
MaxEmptyLinesToKeep: 0
PPIndentWidth: -1
IndentPPDirectives: BeforeHash
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 4
# }
